{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}WebDBA - Change Password{% endblock %}

{% block page_content %}
<div class="page-header text-center">
    <h1>Change Your Password</h1>
</div>
<div class="col-md-4 col-md-offset-4">
    <div class="account-wall">
        <img class="profile-img"
                src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                alt="">
        <div class="form-signin">
        {{ wtf.quick_form(form, button_map={"submit":"primary btn-lg btn-block"}) }}
        </div>
    </div>
</div>
{% endblock %}
